body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(../img/background_menu.webp);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #000000;
  color: white;
}
nav button {
  margin-left: 10px;
  padding: 0.5rem 1rem;
}
#filtri {
  margin: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
#menu-container {
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.menu-item {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background: #f9f9f9;
}
.menu-item img {
  width: 100%;
  border-radius: 8px;
}

.infoNoDati{
  background-color: white;
  height: auto;
  width: 90%;
  font-size: 25px;
  text-align: center;
}

.icon{
  font-size: 50px;
  margin-bottom: 15px;
}

.fa-instagram{
  background:linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
  color: white;
  border-radius: 25%;
}

.fa-facebook{
  background-color: white;
  color: blue;
  border-radius: 25%;
}

.fa-whatsapp{
  background-color: green;
  color: white;
  border-radius: 25%;
}

footer{
  background-color: #000000;
  height: 60px;
}